.flexRow--productMain,
.flexRow--tab-pdp {
  width: calc(1200px - 24px * 2);
  margin: 0 auto;
}

.flexRow--productMain :global(.vtex-store-components-3-x-container),
.flexRow--tab-pdp :global(.vtex-store-components-3-x-container) {
  padding-left: 0;
  padding-right: 0;
}

.flexRowContent--productMain {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
   background-color: #fff;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 0.5rem;
   align-items: flex-start;
   padding-bottom: 0;
   margin-bottom: 1rem;
}

.flexCol--infoProduct {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.flexRowContent--button-pdp :global(.vtex-button) {
  position: relative;
  border: none;
  background: transparent linear-gradient(167deg,#111c8b 0,#e90027 100%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s all;
  overflow: hidden;
  min-height: 0;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flexRowContent--button-pdp :global(.vtex-button__label) {
  display: none;
}

.flexRowContent--button-pdp :global(.vtex-button__label)::after {
  content: '';
  position: absolute;
  transition: opacity 1s ease;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(167deg,#e90027 0,#111c8b 100%);
  opacity: 0;
  z-index: 1;
}

.flexRowContent--button-pdp :global(.vtex-button)::before {
  font-family: "cora-icons";
  color: #fff;
  content: '\E90D';
  font-size: 23px;
  padding: 0 8px;
  z-index: 2;
}

.flexColChild--infoProduct :global(.vtex-wish-list-1-x-wishlistIconContainer--wishlist-pdp) :global(.vtex-button)::before {
  font-size: 19px;
  line-height: 28px;
  color: #e7e8f3;
  content: '\e912';
  font-family: 'cora-icons';
  background-color: transparent !important;
}

.flexColChild--infoProduct :global(.vtex-wish-list-1-x-wishlistIconContainer--wishlist-pdp) :global(.vtex-button):hover {
  background-color: transparent !important;
}

.flexColChild--infoProduct :global(.vtex-wish-list-1-x-wishlistIconContainer--wishlist-pdp) :global(.vtex-wish-list-1-x-wishlistIcon--wishlist-pdp) {
  display: none;
}

.flexCol--infoProduct {
  position: relative;
}

.flexColChild--infoProduct :global(.vtex-wish-list-1-x-wishlistIconContainer--wishlist-pdp) {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
}


/* tab pdp */
.flexCol--productSpecification-ingrediente {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexColChild--productSpecification-ingrediente {
  width: 100%;
}

 .flexRowContent--productSpecification-ingrediente :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
 width: 100% !important;
}

.flexColChild--infoProduct :global(.vtex-reviews-and-ratings-3-x-summaryContainer) {
  font-size: 0.7rem;
  color: #111c8b;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexRowContent--button-pdp {
  padding-left: 10px;
  padding-right: 10px;
}

.flexColChild--infoProduct :global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews) {
  font-size: 0.9rem;
  padding-top: 3px;
  margin-left: 5px;
 }

.flexColChild--infoProduct :global(.vtex-reviews-and-ratings-3-x-stars) {
 font-size: 0;
}

.flexColChild--infoProduct :global(.vtex-reviews-and-ratings-3-x-star--filled ) {
  color: #ed1c24;
  font-size: 1.1rem;
}

.flexColChild--infoProduct :global(.vtex-reviews-and-ratings-3-x-star--empty ) {
  color: #c9c9c9;
  font-size: 1.1rem;
}

.flexColChild--infoProduct :global(.vtex-reviews-and-ratings-3-x-summaryButtonContainer) :global(.vtex-button) {
  min-height: 1rem;
  margin-left: 10px;
}

.flexColChild--infoProduct :global(.vtex-reviews-and-ratings-3-x-summaryButtonContainer) :global(.vtex-button__label) {
  text-transform: capitalize;
  font-size: 0.7rem;
}


.flexCol--productSpecification-ingrediente-value {
  display: none;
 }
/* tab pdp */

/* disclosure mobile */
.flexRowContent--container-specification-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  display: flex;
  flex-direction: column;
}

.flexRowContent--container-specification-mobile {
  margin-top: 20px;
}
/* disclosure mobile */

.flexColChild--productSpecification-valores {
  display: flex;
  flex-direction: column;
}

.flexRowContent--productSpecification-valores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexRow--productSpecification-valores {
  margin-bottom: 10px;
}

.flexRowContent--productSpecification-valores :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 50% !important;
}

@media screen and (min-width: 300px) and (max-width: 768px){
  .flexRowContent--productMain {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px){
  .flexRow--productMain,
  .flexRow--tab-pdp,
  .flexRow--flexBreadcrumb,
  .flexRow--container-specification-mobile {
    width: calc(320px - 12px * 2) !important;
    margin: 0 auto;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px){
  .flexRow--productMain,
  .flexRow--tab-pdp,
  .flexRow--flexBreadcrumb,
  .flexRow--container-specification-mobile {
    width: calc(370px - 12px * 2) !important;
    margin: 0 auto;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px){
  .flexRow--productMain,
  .flexRow--tab-pdp,
  .flexRow--flexBreadcrumb,
  .flexRow--container-specification-mobile {
    width: calc(420px - 12px * 2) !important;
    margin: 0 auto;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px){
  .flexRow--productMain,
  .flexRow--tab-pdp,
  .flexRow--flexBreadcrumb,
  .flexRow--container-specification-mobile {
    width: calc(770px - 12px * 2) !important;
    margin: 0 auto;
  }

}

@media screen and (min-width: 300px) and (max-width: 768px){
.flexRowContent--productMain :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .flexRow--productMain,
  .flexRow--tab-pdp,
  .flexRow--flexBreadcrumb {
    width: calc(1000px - 5px * 2) !important;
    margin: 0 auto;
  }

  .flexRow--container-specification-mobile {
    display: none;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px){
  .flexRow--tab-pdp {
    display: none;
  }
}

@media screen and (min-width: 300px) and (max-width: 425px){
  .flexRowContent--productSpecification-valores :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 85% !important;
  }

  .flexRowContent--productSpecification-valores :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 15% !important;
  }
}
