.productImageTag--imagePdpd {
  max-height: 400px !important;
}

.carouselGaleryThumbs--imagePdpd {
  width: calc(400px - 0px * 2);
  margin: 0 auto;
}

.productImagesThumb--imagePdpd {
  margin-right: 10px;
}

.productBrand--productNamePdp {
  color: #111c8b;
  font-size: 1rem;
  line-height: 2rem;
    font-weight: 700;
}

/* .swiperCaretPrev--imagePdpd:focus {
  background-color: rgba(255,255,255,.3);
  transition: background-color .3s ease-in-out;
  transition-duration: .3s;
  transition-property: transform,opacity,background-color;
  transform: translate3d(-120px,0,0);

} */

/* tab content */
.content--description-pdp {
  font-size: 0.8rem;
  color: #111c8b;
  font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
/* tab content */
