.confirmationCheckboxContainer--footer__checkbox :global(.vtex-checkbox__label) {
    color: #fff;
    font-size: 10px;
    cursor: pointer;
}

.confirmationCheckboxContainer--footer__checkbox {
    padding-top: 1.5rem;
}

.emailInputContainer--footer__email :global(.vtex-input-prefix__group) {
    border: 0;
    height: 36px;
}

.emailInputContainer--footer__email :global(.vtex-styleguide-9-x-input) {
    font-size: 11px;
    padding-left: 20px;
    border-radius: 20px;
    border: 1px solid #d9dbec;
    background-color: #fdfdfe;
    font-weight: 600;
    background-clip: padding-box;
    color: #111c8b;
    height: 36px;
}

.formSubmitContainer--footer__submit :global(.vtex-button) {
    position: absolute;
    right: 0;
    top: 0;
    height: 36px !important;
    min-height: 36px;
    width: 160px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: transparent linear-gradient(167deg,#111c8b 0,#e90027 100%);
    border-radius: 20px;
    -webkit-transition: background 2s ease-out;
    -moz-transition: background 2s ease-out;
    -o-transition: background 2s ease-out;
    transition: background 2s ease-out;
}

.formSubmitContainer--footer__submit :global(.vtex-button):hover {
    background: transparent linear-gradient(334deg,#111c8b 0,#e90027 100%);
}

.formSubmitContainer--footer__submit :global(.vtex-button__label) {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: initial;
}

.newsletterForm--footer__newsletter {
    width: 100%;
}

@media (max-width: 990px) {
    .formSubmitContainer--footer__submit :global(.vtex-button) {
        width: 120px;
    }
    .formSubmitContainer--footer__submit :global(.vtex-button__label) {
        font-size: 10px;
    }
}