.modal--search__content {
  z-index: 999 !important;
}

.headerContainer--content__close {
  border: 0;
}

.closeIcon--content__close {
  position        : fixed;
  right           : 15px;
  top             : 0px;
  width           : 20px;
  background-color: #f8fafc;
}

.paper--search__content {
  width         : 100%;
  height        : 100%;
  max-height    : 100%;
  padding       : 15px;
  padding-top   : 15px;
  padding-bottom: 50px;
  top           : 0;
  border-radius : 0;
  position      : relative;
}

.paper--search__content :global(.vtex-menu-2-x-styledLinkContainer--menu__category) {
  margin: 0 2px;
}

.paper--search__content :global(.vtex-store-link-0-x-link--logo-search__wishlist)::after {
  position: absolute;
  right   : 40px;
  top     : 27px;
  z-index : 9;
}

.paper--search__content :global(.vtex-rich-text-0-x-paragraph--elements__title-drawer) {
  font-weight   : 700;
  color         : #111c8b;
  text-transform: uppercase;
  margin-top    : -8px;
  font-size     : 12px;
  margin-left   : 4px;
}
