/* gallery */
.paragraph--title-slider--plp {
  color: #111c8b;
    font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1.42857143;
    font-size: 1.6rem;
}
/* gallery */
