.flexRow--flexBreadcrumb,
.flexRow--searchContent-container,
.flexRow--slider-rich-plp,
.flexRow--banner {
  width: calc(1220px - 24px * 2);
  margin: 0 auto;
}

.flexRow--flexBreadcrumb {
  padding-bottom: 30px;
}

/* slider plp */
.flexRowContent--slider-rich-plp {
  display: flex;
  flex-direction: column;
}

.flexRowContent--slider-rich-plp :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--banner :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexRowContent--slider-rich-plp {
  margin-bottom: 40px;
  margin-top: 40px;
}

/* slider plp */
/* filter */
.flexRowContent--searchContent-container,
.flexRowContent--banner {
  display: flex;
  flex-direction: column;
}

.flexRow--banner :global(.vtex-store-components-3-x-container){
  padding-left: 0;
  padding-right: 0;
}

.flexRowContent--searchContent-container :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexCol--filterCol {
  margin-bottom: 0;
}

/* filter */
/* gallery */
.flexCol--productCountCol {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexColChild--productCountCol {
  display: flex;
  align-items: center;
}

.flexRow--productsContainerSearch {
  margin-bottom: 60px;
}
/* gallery */

/* banner search*/
.flexRowContent--banner {
  position: relative;
}

@media screen and (min-width: 300px) and (max-width: 320px){
  .flexRow--breadcrumb-mobile,
  .flexRow--slider-rich-plp,
  .flexRow--fetchmore,
  .flexRow--productCountMobileRow,
  .flexRow--mobile-content,
  .flexRow--banner {
    width: calc(320px - 12px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px){
  .flexRow--breadcrumb-mobile,
  .flexRow--slider-rich-plp,
  .flexRow--fetchmore,
  .flexRow--productCountMobileRow,
  .flexRow--mobile-content,
  .flexRow--banner  {
    width: calc(370px - 12px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px){
  .flexRow--breadcrumb-mobile,
  .flexRow--slider-rich-plp,
  .flexRow--fetchmore,
  .flexRow--productCountMobileRow,
  .flexRow--mobile-content,
  .flexRow--banner  {
    width: calc(420px - 12px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px){
  .flexRow--breadcrumb-mobile,
  .flexRow--slider-rich-plp,
  .flexRow--fetchmore,
  .flexRow--productCountMobileRow,
  .flexRow--mobile-content,
  .flexRow--banner  {
    width: calc(770px - 12px * 2);
    margin: 0 auto;
  }

  .flexRowContent--product-summary__qty-add {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .flexRow--breadcrumb-mobile,
  .flexRow--slider-rich-plp,
  .flexRow--fetchmore,
  .flexRow--productCountMobileRow,
  .flexRow--mobile-content,
  .flexRow--banner  {
    width: calc(1000px - 5px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px){
  .flexRow--flexBreadcrumb {
    padding-bottom: 0;
  }

  .flexRowContent--slider-rich-plp {
    margin-top: 10px;
  }

  .flexRowContent--mobile-content {
    margin-bottom: 20px;
  }

  .flexRow--breadcrumb-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--slider-rich-plp :global(.vtex-store-components-3-x-container),
  .flexRow--fetchmore :global(.vtex-store-components-3-x-container),
  .flexRow--productCountMobileRow :global(.vtex-store-components-3-x-container),
  .flexRow--mobile-content :global(.vtex-store-components-3-x-container) {
    padding-left: 0;
    padding-right: 0;
  }

  .flexRowContent--filter-switcher {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .flexRowContent--breadcrumb-mobile {
    display: flex;
    flex-direction: row;
  }

  .flexRowContent--productCountMobileRow, .flexRowContent--productCountMobileRow  {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


@media screen and (min-width: 300px) and (max-width: 425px){
.flexRowContent--productCountMobileRow :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  width: 80% !important;
}

.flexRowContent--productCountMobileRow :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  width: 20% !important;
}
}

@media screen and (min-width: 1360px) {
  .flexRow--flexBreadcrumb,
  .flexRow--searchContent-container,
  .flexRow--slider-rich-plp,
  .flexRow--banner {
    width: calc(1200px - 24px * 2);
    margin: 0 auto;
  }
}

/* LIST  */
.flexRowContent--summary-rows .stretchChildrenWidth   {
  width: auto !important;
}
