/* filter */
.filter__container--filter-horizontal--title {
  display: none;
}

.filtersWrapper--filter-horizontal {
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
}

.filter__container--filter-horizontal {
  border      : none;
  margin-right: 10px;
}

.filterAvailable--filter-horizontal {
  background    : #fff;
  margin-bottom : 10px;
  border-radius : 20px;
  padding-left  : 15px;
  padding-top   : 0.5rem;
  padding-bottom: 0.5rem;
}

.filterTitleSpan--filter-horizontal {
  font-size     : 0.8rem;
  color         : #273896;
  font-weight   : 500;
  text-transform: capitalize;
}

.caretIcon--filter-horizontal {
  width : 8px;
  height: 8px;
  color : #273896;
}

.filterItem--filter-horizontal :global(.vtex-checkbox__label) {
  font-size: 0.8rem;
}

.filterTemplateOverflow--filter-horizontal {
  margin-top: 10px;
}

.filterTemplateOverflow--filter-horizontal :global(.vtex-slider__left-value),
.filterTemplateOverflow--filter-horizontal :global(.vtex-slider__right-value) {
  font-size: 0.8rem;
}

.priceRangeInput--filter-horizontal :global(.vtex-styleguide-9-x-input) {
  font-size: 0.8rem;
}

.priceRangeInput--filter-horizontal :global(.vtex-input__suffix) {
  display: none;
}

.priceRangeInputWrapper--filter-horizontal :global(.vtex-button) :global(.vtex-button__label) {
  font-size     : 0.8rem;
  text-transform: capitalize;
}

.priceRangeInput--filter-horizontal :global(.vtex-input-prefix__group) {
  border-radius   : 20px;
  width           : 120px;
  background-color: #fafafa;
  border          : 1px solid #d9dbec;
}

.filterSelected--filter-horizontal {
  padding-top   : 0.5rem;
  padding-bottom: 0;
}

/* filter */
/* gallery */
.galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary) {
  max-width: 270px !important;
}

.galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary-list) {
  max-width: 100% !important;
}

.totalProducts--layout {
  padding-top   : 0;
  padding-bottom: 0;
}

.totalProductsMessage {
  font-size     : 0.8rem;
  color         : #273896;
  text-transform: capitalize;
}

.totalProducts--layout {
  font-size: 0.8rem;
  color    : #273896;
}

.totalProducts--layout::before {
  content: "(";
}

.totalProductsMessage::before {
  content     : ")";
  margin-right: 5px;
  margin-left : -3px;
}

.totalProductsMessage::after {
  content    : "rezultate";
  margin-left: 5px;
}

.galleryLayoutSwitcher {
  background   : #fff;
  margin-bottom: 10px;
  border-radius: 20px;
  padding      : 8px;
}

.totalProducts--layout {
  padding-left  : 15px;
  padding-bottom: 10px;
}

.orderByText {
  /* font-size: 0.8rem; */
  font-size     : 0;
  color         : #273896;
  text-transform: capitalize;
}

.orderByOptionItem {
  background-color: transparent;
}

.filterPopupArrowIcon {
  background-color: #fff;
  border-radius   : 20px;
  padding         : 5px 15px;
  margin-left     : 10px;
}

.gallery--grid {
  padding-left: 0;
}

.galleryItem--normal {
  padding-left : 0;
  padding-right: 0;
}

.buttonShowMore :global(.vtex-button__label) {
  text-transform: capitalize;
}

.orderByOptionItem {
  font-size: 0.8rem;
}

.orderByOptionItem:hover {
background-color: #273896;
color:#fff;
}

/* gallery */

.filterPopupTitle--filter-horizontal {
  display: none;
}

.filterPopupTitle {
  font-size: 0;
}

@media screen and (min-width: 300px) and (max-width: 1024px) {

  .filterPopupTitle {
    font-size: 0;
  }

  .searchResultContainer {
    padding: 0;
  }

  .totalProducts--layout {
    padding-left  : 0;
    padding-bottom: 0;
    text-align    : start;
    padding-left  : 10px;
  }

  .filterIcon--filter-horizontal {
    display: none;
  }

  .filterPopupArrowIcon--filter-horizontal::before {
    content    : '\e919';
    font-family: 'cora-icons';
    font-size  : 28px;
    color      : #273896;
  }

}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary) {
    max-width: 130px !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary) {
    max-width: 150px !important;
  }

  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary-list) {
    max-width: 100% !important;
  }

  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary-list) :global(.vtex-flex-layout-0-x-flexRowContent--product-summary__qty-add) {
    display       : flex;
    flex-direction: row;
    margin        : auto;
    margin-top    : 15px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary) {
    max-width: 170px !important;
  }

  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary-list) {
    max-width: 100% !important;
  }

  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary-list) :global(.vtex-flex-layout-0-x-flexRowContent--product-summary__qty-add) {
    display       : flex;
    flex-direction: row;
    margin        : auto;
    margin-top    : 15px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary) {
    max-width: 350px !important;
  }

  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary-list) {
    max-width: 100% !important;
  }

  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary-list) :global(.vtex-flex-layout-0-x-flexRowContent--product-summary__qty-add) {
    display       : flex;
    flex-direction: row;
    margin        : auto;
    margin-top    : 15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary) {
    max-width: 470px !important;
  }

  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary-list) {
    max-width: 100% !important;
  }

  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary-list) :global(.vtex-flex-layout-0-x-flexRowContent--product-summary__qty-add) {
    display       : flex;
    flex-direction: row;
    margin        : auto;
    margin-top    : 15px;
  }

}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .galleryItem :global(.vtex-product-summary-2-x-container--global__product-summary) {
    margin: auto;
  }

  .orderByOptionsContainer {
    left: -140px;
    top : 50px;
  }

  .filterBreadcrumbsItemName--filter-horizontal,
  .filterBreadcrumbsText--filter-horizontal,
  .accordionFilterItemTitle--filter-horizontal,
  .filterAccordionItemBox :global(.vtex-checkbox__label) {
    font-size: 1rem;
  }

  .accordionFilterItemOptions {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .priceRangeInput--filter-horizontal :global(.vtex-input-prefix__group) {
    width: 80px;
  }

  .sidebar {
    width: 280px;
  }
}


@media screen and (min-width: 1025px) {
  .filter__container--priceRange {
    display: flex;
    flex-direction: row;
  }

  .filter__container--priceRange .filterTemplateOverflow--filter-horizontal {
    margin-top: 0;
    margin-left: 10px;
  }

  .filter__container--priceRange  .filterAvailable--filter-horizontal {
    width: 120px;
    height: 30px;
  }
}

