.videoContainer--recipe {
  display: flex;
  justify-content: center;
}

.videoElement--recipe {
  width: 60%;
}

@media screen and (max-width: 640px) {
  .videoElement--recipe {
    width: 100%;
  }
}
