.flexRowContent--recipe-title {
  margin-top: 3rem;
}

.flexRow--recipes__main--container {
  margin: 3rem 0;
}

.flexCol--ingredients__container {
  margin-right: 1rem;
}

.flexCol--steps__container {
  padding-right: 2rem;
}

.flexRowContent--recipe__checkout--btn {
  justify-content: center;
}

.flexRow--recipe__checkout--btn,
.flexRow--recipe__text--content {
  margin-bottom: 2rem;
}

.flexRowContent--recipe__checkout--btn:first-child {
  justify-content: flex-end;
  padding-right: 3.5rem;
}

.flexRow--recipe-video-container {
  margin-bottom: 3rem;
}
